* text=auto !eol
temp/features/org.eclipse.uml2.diagram.source_0.9.0.v200906190654.jar -text
temp/features/org.eclipse.uml2.diagram_0.9.0.v200906190654.jar -text
temp/features/org.eclipse.uml2tools.def.source_0.9.0.v200906190654.jar -text
temp/features/org.eclipse.uml2tools.def_0.9.0.v200906190654.jar -text
temp/features/org.eclipse.uml2tools.examples_0.8.0.v200906190654.jar -text
temp/features/org.eclipse.uml2tools.sdk_0.9.0.v200906190654.jar -text
temp/features/org.eclipse.uml2tools_0.9.0.v200906190654.jar -text
temp/pmp/31913382034316947877.cmp -text svneol=unset#unset
