* text=auto !eol
kito/documents/01-项目规划/01-01成立项目实施小组/010101项目组成员通讯录.xls -text
kito/documents/01-项目规划/01-01成立项目实施小组/010102关于成立ERP关键用户组的通知.doc -text
kito/documents/01-项目规划/01-01成立项目实施小组/010103金意陶ERP项目组织职责.doc -text
kito/documents/01-项目规划/01-04制定项目计划书/金意陶NC-ERP项目实施工作任务书V1.0.doc -text
kito/documents/01-项目规划/01-04制定项目计划书/金意陶NC-ERP项目实施工作任务书V1.1.doc -text
kito/documents/01-项目规划/01-05召开项目启动会/金意陶ERP项目启动会-主演示文稿.ppt -text
kito/documents/01-项目规划/01-05召开项目启动会/金意陶ERP项目实施启动会.ppt -text
kito/documents/01-项目规划/01-05召开项目启动会/金意陶ERP项目实施启动会.rar -text
kito/documents/PM_项目管理/PM-01项目计划/KITO-NC项目实施主计划(V1.0.1).mpp -text
kito/documents/PM_项目管理/PM-01项目计划/KITO-NC项目实施主计划(V2.0).mpp -text
kito/documents/PM_项目管理/PM-01项目计划/金意陶EHR项目实施主计划V1.0.mpp -text
kito/documents/PM_项目管理/PM-02会议纪要/金意陶ERP项目会议记要2010-05-07.doc -text
kito/documents/PM_项目管理/PM-02会议纪要/金意陶ERP项目会议记要2010-05-26.doc -text
kito/documents/PM_项目管理/PM-03项目周报/PM03-01项目周报模板.dotx -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-00金意陶ERP-NC项目奖励方案.doc -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-01金意陶ERP-NC项目文档管理办法.doc -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-02金意陶项目产品补丁管理办法.doc -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-03金意陶项目产品问题缺陷管理办法.doc -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-04金意陶项目实施阶段软件系统管理办法.doc -text
kito/documents/PM_项目管理/PM-04项目制度/PM04-05金意陶项目项目文档模板.dotx -text
kito/documents/PM_项目管理/PM-05通知通报/金意陶ERP项目启动会通知.doc -text
kito/documents/PM_项目管理/PM-06系统环境/PM06-01金意陶项目系统环境配置参数表.doc -text
